* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

:root {
  --normal-shift-color: #262626;
  --introduce-color: #b5b5b5;
  --introduce-color-black: #6f6d6d;
  --white-color: #fff;
  --orange-color: #ffc62d;
  --blue-color: #11d5ed;
}

.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .fa-bars {
  font-size: 1.3rem;
  color: var(--normal-shift-color);
  display: none;
}
.header .logo {
  max-width: 150px;
}
.header .logo img {
  width: 100%;
}
.header ul {
  display: flex;
  gap: 0 20px;
}
.header ul .menu-active {
  text-decoration: line-through;
}
.header ul li {
  position: relative;
}
.header ul li a {
  color: var(--normal-shift-color);
  font-size: 1.3rem;
  font-weight: 700;
}
.header ul li a:hover {
  text-decoration: line-through;
}
.header ul li ul {
  position: absolute;
  display: none;
  background-color: var(--introduce-color-black);
  width: 180px;
  padding: 1rem 2rem;
  border-radius: 10%;
  margin: 0.7rem 0;
  flex-direction: column;
  gap: 10px 0;
  font-size: medium;
}
.header ul li ul li a {
  font-size: medium;
  font-weight: 400;
  color: var(--normal-shift-color);
}
.header ul li ul li a:hover {
  color: var(--introduce-color-black);
}
.header ul .pages {
  background-color: var(--introduce-color);
  display: block;
  z-index: 999;
  width: 140px;
  position: absolute;
}
.header .active-menu {
  display: flex !important;
}

.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.introduce-left h1 {
  font-weight: 600;
  font-size: 6.5rem;
  color: var(--normal-shift-color);
}
.introduce-left h2 {
  font-weight: 300;
  font-size: 3.5rem;
  color: var(--introduce-color);
}
.introduce-right {
  width: 200px;
}

.social h3 {
  font-size: x-large;
  font-weight: 600;
}
.social-media i {
  font-size: 1.2rem;
  color: var(--introduce-color-black);
}

.inventing {
  margin: 3rem auto;
}
.inventing p {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--introduce-color);
  width: 20%;
  padding: 1rem;
}
.inventing h3 {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: left;
  width: 80%;
  margin: 2rem auto;
}

.works {
  display: flex;
  gap: 0 20px;
}
.works-left {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}
.works-left .work {
  max-width: 95%;
  height: 472px;
  position: relative;
  margin: 1rem 0;
}
.works-left .work .product {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 1rem;
  background-color: var(--white-color);
  width: 200px;
}
.works-left .work:hover {
  max-width: 95%;
  height: 440px;
  -webkit-animation: shadow-drop-2-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.works-left .work:hover .product {
  opacity: 1 !important;
  -webkit-animation: shadow-drop-tr 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-tr 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.works-left .work1 {
  background-image: url(https://dorya.deothemes.com/wp-content/uploads/2023/02/project_4-1080x1080.jpg);
  background-size: cover;
  background-position: center;
}
.works-left .work2 {
  background-image: url(https://dorya.deothemes.com/wp-content/uploads/2023/02/project_2-1080x1080.jpg);
  background-size: cover;
  background-position: center;
}
.works-left a {
  font-size: medium;
  font-weight: 600;
  color: var(--normal-shift-color);
}
.works-right {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  margin-top: 2rem;
  width: 48%;
}
.works-right .work {
  max-width: 100%;
  height: 472px;
  position: relative;
  margin: 1rem 0;
}
.works-right .work .product {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 1rem;
  background-color: var(--white-color);
  width: 200px;
}
.works-right .work:hover {
  max-width: 95%;
  height: 44s0px;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.works-right .work:hover .product {
  opacity: 1 !important;
}
.works-right .work3 {
  background-image: url(https://dorya.deothemes.com/wp-content/uploads/2023/02/project_3-1-1536x1536.jpg);
  background-size: cover;
  background-position: center;
}
.works-right .work4 {
  background-image: url(https://dorya.deothemes.com/wp-content/uploads/2023/02/project_1-1080x1080.jpg);
  background-size: cover;
  background-position: center;
}

.branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem auto;
}
.branding-left {
  width: 33%;
}
.branding-left h3 {
  font-size: 3.3rem;
  font-weight: 700;
  color: var(--normal-shift-color);
}
.branding-left h3:hover {
  text-decoration: line-through;
}
.branding-left .brand-active {
  text-decoration: line-through !important;
}
.branding-right {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 55%;
}
.branding-right p {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--introduce-color-black);
}
.branding-right .branding-active {
  color: var(--orange-color) !important;
}

.slider h2 {
  font-size: 3.3rem;
  margin: 3rem 0 3rem 2rem;
  font-weight: 700;
  color: var(--normal-shift-color);
}
.slider-side {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slider .slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slider .slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slider .slide.active {
  flex: 10;
}
.slider .slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.slider .more-blog {
  text-align: center;
  margin: 3rem auto;
}
.slider .more-blog a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--normal-shift-color);
}

.awards {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  padding: 3rem 0;
  border-bottom: 1px solid var(--introduce-color-black);
}
.awards-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.awards-left h3 {
  width: 200px;
  margin: 2rem;
  font-size: 2.5rem;
  color: var(--normal-shift-color);
  font-weight: 700;
}
.awards-left p {
  font-size: 1.5rem;
  color: var(--introduce-color-black);
  font-weight: 400;
}
.awards-right {
  width: 50%;
}
.awards-right-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid var(--introduce-color-black);
}
.awards-right-element h3 {
  width: 150px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--normal-shift-color);
}
.awards-right-element img {
  max-width: 150px;
  max-height: 80px;
}

.foter {
  padding: 3rem 0;
  background-image: url(https://dorya.deothemes.com/wp-content/uploads/2023/02/footer_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 600;
}
.foter a {
  color: var(--white-color);
}
.foter span :hover {
  color: var(--orange-color);
}
.foter .footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 0;
}
.foter .footer-top h3 {
  font-size: 2.5rem;
}
.foter .footer-top h3 span {
  color: var(--blue-color);
}
.foter .footer-top h3 span:hover {
  color: #ffc62d;
}
.foter .footer-center {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem 0;
  border-bottom: 1px solid var(--introduce-color-black);
}
.foter .footer-center-left ul li {
  margin: 1rem 0;
}
.foter .footer-center-right {
  width: 20%;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
.foter .footer-center-right ul li {
  margin: 1rem 0;
}
.foter .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foter .footer-bottom .logo {
  font-size: 2rem;
  color: var(--white-color);
}
.foter .footer-bottom .last-element {
  display: flex;
  gap: 0 30px;
}

@media only screen and (max-width: 991px) {
  * {
    overflow-x: hidden !important;
  }
  .fa-bars {
    display: block !important;
  }
  .menu-links {
    display: none !important;
  }
  .introduce {
    max-width: 50%;
  }
  .introduce h1 {
    font-size: 5.5rem;
  }
  .introduce h2 {
    font-size: 2.5rem;
  }
  .social h3 {
    font-size: medium;
  }
  .social-media i {
    font-size: 1.2rem;
  }
  .branding-left h3 {
    font-size: 2.7rem;
  }
  .branding-right p {
    font-size: 2rem;
  }
  .slides .slide3 {
    display: none;
  }
  .slides .slide1 {
    width: 49%;
  }
  .slides .slide2 {
    width: 49%;
  }
  .slides .slide-content p {
    font-size: 0.9rem;
  }
  .slides .slide-content h3 {
    font-size: 1.7rem;
  }
  .awards-left h3 {
    font-size: 2.3rem;
  }
  .awards-left p {
    font-size: 1.3rem;
  }
  .awards-right h3 {
    font-size: 1.3rem;
  }
  .awards-right img {
    width: 130px;
    height: 70px;
  }
  .foter .footer-top h3 {
    font-size: 2.3rem;
  }
  .foter .footer-center {
    font-size: medium;
  }
  .foter .footer-center-right {
    width: auto;
  }
  .foter .footer-bottom .logo {
    font-size: 1.7rem;
  }
  .foter .footer-bottom .last-element {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .header .logo {
    width: 100px;
  }
  .introduce {
    width: 70%;
    margin: 3rem auto;
    justify-content: center;
    align-self: center;
  }
  .introduce-right {
    display: none;
  }
  .introduce dd {
    display: none !important;
  }
  .introduce h1 {
    font-size: 4.4rem;
  }
  .introduce h2 {
    font-size: 2.3rem;
  }
  .social {
    font-size: medium;
  }
  .inventing p {
    font-size: 1.3rem;
    width: auto;
  }
  .inventing h3 {
    width: auto;
    font-size: 2rem;
  }
  .works {
    flex-direction: column-reverse;
    gap: 14px 0;
  }
  .works-left {
    width: 95%;
    margin: 0 auto;
  }
  .works-left .work {
    width: 100%;
    margin: 0 auto;
  }
  .works-right {
    width: 90%;
    margin: 0 auto;
  }
  .works-right .work {
    width: 100%;
    margin: 0 auto;
  }
  .branding {
    flex-direction: column;
    gap: 14px 0;
  }
  .branding-left {
    width: 90%;
    margin: 0 auto;
    font-size: 3rem;
  }
  .branding-right {
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  .slides .slide2 {
    display: none;
  }
  .slides .slide {
    width: 90%;
    margin: 0 auto;
  }
  .awards {
    flex-direction: column;
  }
  .awards-left {
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .awards-right {
    width: 90%;
    margin: 0 auto;
  }
  .awards-right-element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
  }
  .awards-right-element h3 {
    width: auto;
  }
  .awards-right-element img {
    width: auto;
  }
  .foter .footer {
    display: flex;
    flex-direction: column;
  }
  .foter .footer-top {
    flex-direction: column;
  }
  .foter .footer-center {
    flex-direction: column;
  }
  .foter .footer-center-right {
    flex-direction: column;
  }
  .foter .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px 0;
  }
  .foter .footer-bottom .last-element {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px 0;
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-keyframes shadow-drop-tr {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-tr {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 12px -12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}/*# sourceMappingURL=homeStyle.css.map */